h1 TwiThinks Stock Tracker Alert
div A possible event is detected for 
  b #{symbol} (#{company})
  |  at 
  b #{issueTime}
  if injectSource
    p (injected from #{injectSource})
div Check out #{company}'s real-time tweets at: 
  a(href=url) #{url}