doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{symbol} stream
    :stylus
      @css {
        @import url(http://fonts.googleapis.com/css?family=Droid+Sans:400);
      }
      body
        margin 0
        padding 0
        font-family 'Droid Sans', sans-serif
        background linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.05) 80%,rgba(0,0,0,0.1) 100%), url('/img/noise.png'); 

      blockquote.twitter-tweet 
        display none

      #tweet-stream 
        margin-right auto
        margin-left auto
        width 500px

        .faucet, .sink
          width @width - 3px // compensate for embedded tweets size problem
          text-align center
          padding 5px 0 5px 0
          background-color rgba(steelblue, 0.6)
          color white

        .faucet
          position fixed
          top 0
          border-bottom-left-radius 5px
          border-bottom-right-radius @border-bottom-left-radius

        .sink
          display none
          cursor pointer
          border-top-left-radius 5px
          border-top-right-radius @border-top-left-radius

        .queue
          margin-top 40px

      @media (max-width: 500px)
        #tweet-stream
          width 95%
          .faucet
            width @width
          .sink
            width 100%

      @media (max-width: 260px)
        html
          width 260px
        #tweet-stream
          width 250px
          padding-left 5px
          padding-right @padding-left
          .faucet
            width @width
          .sink
            width 100%
  body
    #tweet-stream
      .faucet waiting for tweets...
      .queue
      .sink older tweets

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//platform.twitter.com/widgets.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/visibility.js')
    script(src='/js/flash.js')
    script(src='/js/utils.js')
    script(src='/js/draftHtml5Apis.js')
      
    script.
      function notify(symbol) {
        // generate notification
        if ('on' == getPref('show notifications', 'on') && document[hidden]) {
          var n = new Notification(symbol + ' Alert', {
              body: 'a possible market driving event is detected from #{company}-related tweets.',
              tag: symbol
          });
          n.onclick = function () {
            window.focus();
            console.log('notification clicked');
            this.close();
          };
          n.show();
        }
        if ('on' == getPref('play alerts', 'on') && audio.ready)
          playAudio(audio.ctx, audio.chime);
        flash.flash('alert: ' + symbol);
      }

      function popFromQueue(sink) {
        // move last tweet off queue into sink
        var tweet = $('.twitter-tweet:visible:last');
        tweet.hide();
        sink.push(tweet);
        $('.sink').text(sink.length + ' older tweets').show();
      }

      function pushIntoFaucet(newTweet, faucet) {
        faucet.push(newTweet);
        $('.faucet').text(faucet.length + ' new tweets').show();
      }
    script.
      normalizeApis();
      
      var symbol = '#{symbol}',
          audio = initAudio(),
          feed = io.connect(document.location.origin + '/' + symbol),
          reading = false,
          faucet = [],
          depth = #{queueDepth},
          batch = #{batchSize},
          sink = [];
      
      // stop flashing title
      $(document).on(visibilityChange, function () {
        if (!document[hidden]) {
          console.log('visible');
          flash.restore();
        }
      })
      .scroll(function () {
        console.log('scrolled');
        reading = true;
        flash.restore();
      })
      .click(function () {
        console.log('viewport clicked');
        flash.restore();
      });
      
      $('.sink').hide().click(function () {
        console.log('sink clicked');
        // pop a few tweets from sink
        var n = batch,
            q = $('.queue'),
            firstOld;
        while (sink.length > 0 && --n >= 0) {
          var t = sink.pop();
          firstOld = firstOld || t;
          t.show();
          $(this).text(sink.length + ' older tweets');
        }
        $('body,html').animate({
          scrollTop: firstOld.offset().top
        }, 500);
        if (sink.length == 0)
          $(this).hide();
      });

      // realtime feed
      feed.on('new tweet', function (data) {
        console.log(data);
        var newTweet = $(data.html).attr('data-theme', 'light')
            .attr('data-dnt', 'true')
            .attr('width', '500');

        if ($('.twitter-tweet:visible').length == 0) {
          // receiving first tweet
          $('.faucet').hide()
          .css('cursor', 'pointer')
          .click(function () {
            console.log('faucet clicked');
            // flush tweets in faucet
            var f = $(this),
                q = $('.queue');
            while (faucet.length > 0) {
              var t = faucet.shift();
              q.prepend(t);
            }
            twttr.widgets.load();
            $('body,html').animate({
              scrollTop: 0
            }, 500);
            reading = false;
            f.hide();
          });
        } 
        if (reading) {
          pushIntoFaucet(newTweet, faucet);
        } else {
          if ($('.twitter-tweet:visible').length < depth) {
            // render directly into queue
            $('#tweet-stream .queue').prepend(newTweet);
            twttr.widgets.load();
          } else {
            // the queue is full
            // remove the bottom one from queue
            popFromQueue(sink);
            // render the new tweet
            $('#tweet-stream .queue').prepend(newTweet);
            twttr.widgets.load();
          }
        }
      })
      .on('new volume', function (data) {
        console.log(data);
      })
      .on('new alert', function (data) {
        console.log(data);
        notify(symbol);
      });
      
      // Google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43036107-1', 'twithinks.com');
      ga('send', 'pageview');

</script>